a {
    color: @lenkeBlaa;
    border-bottom: 1px solid @ikonGraa;
    text-decoration: none;
}

a:visited {
    color: @besoktLilla;
}

a:active {
    color: @aktivBlaa;
}

a:focus {
    background-color: @fokusOrange;
    color: @aktivBlaa;
    border-bottom-color: @aktivBlaa;
    outline: none;
}

a:hover {
    border-bottom-color: @lenkeBlaa;
}