.mixin-lenke() {
    color: @lenkeBlaa;
    border-bottom: 1px solid @ikonGraa;
    text-decoration: none;

    &:visited {
        color: @besoktLilla;
    }

    &:active {
        color: @aktivBlaa;
        border-bottom-color: @aktivBlaa;
    }

    &:focus {
        background-color: @fokusOrange;
        color: @aktivBlaa;
        border-bottom-color: @aktivBlaa;
        outline: none;
    }

    &:hover {
        border-bottom-color: @lenkeBlaa;
    }

    &:visited:hover {
        border-bottom-color: @besoktLilla;
    }
}

.mixin-transition(@varighet: 150ms, @type: all) {
    transition: @type @varighet cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.mixin-visueltSkjult() {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
