/* 
---------------
FARGER
---------------
*/

// Hovedfarger

@hvit: #ffffff;
@bakgrunnGraa: #efefef;
@ikonGraa: #b7b1a9;
@inaktivGraa: #7f756c;
@navRoed: #c30000;
@navTekst: #3e3832;
@modiaSort: #333333;
@advarselRoedBakgrunn: #f3e3e3;

// Interaksjonsfarger

@suksessGroenn: #06893a;
@lenkeBlaa: #0067c5;
@lenkeLyseblaa: #66CBEC;
@aktivBlaa: #005b82;
@besoktLilla: #634689;
@advarselRoed: #ba3a26;
@infoOrange: #ff9100;
@fokusOrange: #ffbd66;


// Tilleggsfarger



/* 
---------------
FONTER
---------------
*/

@profilfont: "Arial", Sans-serif;
@standardfont: "Arial", Sans-serif;


/* 
---------------
BREKKPUNKTER
---------------
*/

@skjermMini: 24em;