/* 
---------------
FARGER
---------------
*/

// Hovedfarger
@white:#FFF;
@redNav:#C30000;
@grayBackground:#EFEFEF;
@grayText:#3E3832;
@grayIcon:#B7B1A9;
@grayModia:#333333;
@grayInactive:#7F756C;
@pinkErrorBg:#F3E3E3;


// Interaksjonsfarger
@greenSuccess:#06893A;
@mutedGreen:#A2AD00; // name will change
@lightBlue:#66CBEC;
@blueLink:#0067C5;
@blueLinkActive:#005B82;
@blueLinkVisited:#634689;
@redError:#BA3A26;
@orangeInfo:#FF9100;
@orangeFocus:#FFBD66;

// Tilleggsfarger
// Går mot +#FFF respektive +#3E3832 i inkrement av 20%


/* 
---------------
BREKKPUNKTER
---------------
*/
